{% extends "flights/base.html" %}

{% block title %}Search Flight{% endblock %}

{% block content %}

    <h2 class="text-center mb-4">Search Flight</h2>

<div class="card text-center mx-auto mb-4" style="width: 22rem;">
    <div class="card-body">

        <form method="get" action="{% url 'results' %}">
        {% csrf_token %}

        <div class="mb-3 text-start">
            <label for="origin" class="form-label">Departure City</label>
            <input type="text" class="form-control" id="origin" name="origin" placeholder="Departure City" required>
        </div>

        <div class="mb-3 text-start">
            <label for="destination" class="form-label">Arrival City</label>
            <input type="text" class="form-control" id="destination" name="destination" placeholder="Arrival City" required>
        </div>

        <div class="mb-3 text-start">
            <label for="depart_date" class="form-label">Departure Date</label>
            <input type="date" class="form-control" id="depart_date" name="depart_date" required>
        </div>

        <div class="mb-3 text-start">
            <label for="return_date" class="form-label">Return Date</label>
            <input type="date" class="form-control" id="return_date" name="return_date">
        </div>

        <button type="submit" class="btn btn-primary w-100">Search</button>

        </form>

    </div>
</div>

{% endblock %}
